@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 700;
    font-style: Bold;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-ExtraLight.ttf);
    font-style: ExtraLight;
    font-weight: 200;
}

body {
    margin: 0;
  }

header {
    background-image: url(../img/MainImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-left: 166px;
    z-index: 2;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 121px;
    padding-right: 166px;
}

.header-info {
    display: flex;
    max-width: 616px;
    flex-direction: column;
    font-family: Poppins;
    color: #FFFFFF;
    padding-bottom: 210px;
}

.header-info-UpTxt {
    display: block;
    font-size: 14px;
    line-height: 21px;
    font-weight: 200;
    font-style: ExtraLight;
}

.header-info-title {
    margin: 0;
    font-size: 60px;
    line-height: 74px;
    padding-bottom: 24px;
    padding-top: 22px;

}

.header-info-DownTxt {
    display: block;
    font-size: 16px;
    line-height: 26px;
    font-weight: 200;
    font-style: ExtraLight;
    padding-bottom: 45px;
}

.header-info-link {
    text-decoration: none;
}

.header-info-LinkTxt {
    display: block;
    color: #FFD723;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.header-logos {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 166px;
    position: absolute;
    top: 708px;
    left: 166px;
    right: 0;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 2px;
}

.img-logo {
    display: block;
    padding: 60px 0px 54px 65px;
    width: 156px;
    height: 113px;
}

.AboutUs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.AboutUs-info {
    font-family: Poppins;
    max-width: 475px;
    padding: 244px 0 100px 166px;

}

.AboutUs-info-Uptxt {
    display: block;
    font-size: 14px;
    line-height: 21px;
    font-weight: 200;
    font-style: ExtraLight;
    color: #4D533CE5;
}

.AboutUs-info-title {
    margin: 0;
    font-size: 38px;
    line-height: 46px;
    color: #4D533C;
    padding: 29px 0 35px 0;

}

.AboutUs-info-Downtxt {
    display: block;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: ExtraLight;
    color: #21384299;
    padding-bottom: 42px;
}

.AboutUs-info-link {

}

.AboutUs-info-Linktxt {

}

.AboutUs-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 475px;
    padding: 244px 0 60px 40px;
    margin: 0 166px 0 0;
    font-family: Poppins;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
}

.AboutUs-card-title {
    max-width: 426px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    font-style: italic;
}

.AboutUs-card-person {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.AboutUs-card-person-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 20px 25px 43px rgb(0 0 0 / 18%);
}

.AboutUs-card-person-name {
    padding-left: 30px;

}

.AboutUs-card-person-FIO {
    font-style: Bold;
    font-size: 22px;
    line-height: 33px;
    margin: 0;
    padding-bottom: 6px;

}

.AboutUs-card-person-CEO {
    font-size: 16px;
    line-height: 24px;
}

.WeHaveProject {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 300px 166px 110px 166px;
    position: relative;
}

.WeHaveProject::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(33, 56, 66, 0.0955529);
    width: 1110px;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
}

.WeHaveProject-Title {
    max-width: 325px;
    margin: 0;
    font-family: Poppins;
    font-style: Bold;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: #4D533C;
}

.WeHaveProject-txt {
    max-width: 518px;
    display: block;
    font-family: Poppins;
    font-style: ExtraLight;
    font-weight: 200;
    font-size: 16px;
    line-height: 26px;
    color: #21384299;

}

.left {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 166px 123px 0;
}

.Right {
    display: flex;
    flex-direction: row;
    padding: 0 0 123px 166px;
}

.CaseStudy {
    justify-content: space-between;
    align-items: center;
}

.CaseStudy-info {
    max-width: 475px;
    font-family: Poppins;

}

.CaseStudy-info-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 48px;
    color: #4D533C;
    padding-bottom: 24px;
}

.CaseStudy-info-txt {
    font-style: ExtraLight;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #21384299;
    padding-bottom: 50px;

}

.CaseStudy-info-link {
    text-decoration: none;

}

.CaseStudy-info-link-txt {
    display: block;
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    line-height: 24px;
    padding-top: 40px;
    color: #D4D6D4;

}

.CaseStudy-comment {
    position: relative;

}

.CaseStudy-comment-img {
    width: 735px;
    height: 550px;

}

.CaseStudy-comment-message {
    position: absolute;
    top: 372px;
    left: 322px;
    background-color: #FFF;
    width: 453px;
    padding: 30px;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 8px;
}

.CaseStudy-comment-message-txt {
    display: block;
    font-family: Poppins;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 24px;
    color: #4D533C;

}

.CaseStudy-comment-message-person {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CaseStudy-comment-message-person-img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);

}

.CaseStudy-comment-message-person-name {
    padding-left: 14px;

}

.CaseStudy-comment-message-person-FIO {
    font-family: Poppins;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 4px;
    margin: 0;
    color: #4D533C;

}

.CaseStudy-comment-message-person-CEO {
    display: block;
    font-family: Poppins;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: #152934;

}

.CaseStudy-comment-message-3dmodel {
    position: absolute;
    top: 342px;
    left: -35px;
    background-color: #FFF;
    width: 453px;
    padding: 30px;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 8px;

}

.ReadMore {
    padding: 177px 166px 322px 166px;
    position: relative;
}

.ReadMore::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(33, 56, 66, 0.0955529);
    width: 1110px;
    left: 50%;
    transform: translateX(-50%);
    top: 27px;

}

.ReadMore-Title {
    max-width: 607px;
    margin: 0;
    font-family: Poppins;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;

}

.ReadMore-cases {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 0 0 0;

}

.ReadMore-cases-article {
    display: flex;
    flex-direction: column;
    max-width: 255px;
    padding: 27px 31px 36px 30px;

}

.ReadMore-cases-articles-titel {
    margin: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #4D533C;
    padding-bottom: 20px;
    max-width: 183px;

}

.ReadMore-cases-articles-txt {
    display: block;
    font-family: Poppins;
    font-style: ExtraLight;
    font-weight: 200;
    font-size: 14px;
    line-height: 24px;
    color: #21384299;
    padding-bottom: 56px;
    max-width: 194px;
}

.ReadMore-cases-articles-link {
    text-decoration: none;

}

.ReadMore-cases-articles-link-txt {
    display: block;

}

footer {
    background-image: url(../img/FooterBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}

.LetsMake {
    background-color: #FAFAFA;
    padding-left: 166px;
    position: absolute;
    top: -181px;
    right: 166px;
    left: 0;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);


}

.LetsMake-title {
    font-family: Poppins;
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    line-height: 74px;
    margin: 0;
    color: #4D533C;
    max-width: 822px;
    padding: 70px 0 50px 0;

}

.LetsMake-link {
    text-decoration: none;

}

.LetsMake-link-txt {
    text-decoration: uppercase;
    display: block;
    padding-bottom: 70px;

}

.Footer-PhoneAdress {
    padding: 310px 0 52px 166px;
    display: flex;
    flex-direction: row;

}

.Footer-Phone {
    padding-right: 128px;

}

.Footer-Phone-txt {
    font-family: Poppins;
    font-weight: 200;
    font-style: ExtraLight;
    font-size: 16px;
    line-height: 40px;
    margin: 0;
    color: #B6C197;
}

.Footer-Phone-Number {
    font-family: Poppins;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 40px;
    display: block;
    color: #FFFFFF;

}

.Footer-Adress {

}

.Footer-adress-txt {
    font-family: Poppins;
    font-weight: 200;
    font-style: ExtraLight;
    font-size: 16px;
    line-height: 40px;
    margin: 0;
    color: #B6C197;
}

.Footer-adress-number {
    font-family: Poppins;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 40px;
    display: block;
    color: #FFFFFF;

}

.Footer-links {
    display: flex;
    flex-direction: row;
    padding: 60px 166px 60px 166px;
    position: relative;
    justify-content: space-between;

}

.Footer-links-services-group {
    display: flex;
    flex-direction: row;
}

.Footer-links::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #5D6544;
    width: 1110px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;

}

.Footer-links-Services {
    padding-right: 100px;
    width: 165px;
    
}

.Footer-links-Services:last-child {
    padding-right: 0px;
}

.Footer-links-titels {
    font-family: Poppins;
    font-weight: 400;
    font-style: Bold;
    font-size: 16px;
    line-height: 36px;
    color: #FFFFFF;
    padding: 0 0 21px 0;

}

.footer-links-list {
    list-style-type: none;
    margin: 0;
    padding: 0;


}

.footer-links-list-txt {
    padding: 0 0 10px 0;
    font-family: Poppins;
    font-weight: 200;
    font-style: ExtraLight;
    font-size: 16px;
    line-height: 40px;


}

.footer-links-list-a {
    text-decoration: none;
    color: #B6C197;

}

.GetInTouch {
    position: relative;

}

.GetInTouch::before {
    position: absolute;
    content: "";
    display: block;
    height: 210px;
    background-color: #5D6544;
    width: 1px;
    left: -50%;
    transform: translateX(-50%);
    top: calc(216px - 50%);
    
}

.GetInTouch-Info {

}

.GetInTouch-Info-Title {
    font-family: Poppins;
    font-weight: 400;
    font-style: Bold;
    font-size: 16px;
    line-height: 36px;
    color: #FFFFFF;
    padding: 0 0 21px 0;

}

.GetInTouch-info-txt {
    max-width: 270px;
    display: block;
    padding: 0 0 10px 0;
    font-family: Poppins;
    font-weight: 200;
    font-style: ExtraLight;
    font-size: 16px;
    line-height: 26px;
    color: #B6C197;
}

.GetInTouch-media {

}

.GetInTouch-media-email {
    font-family: Poppins;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 46px;
    color: #FFFFFF;
    padding: 0 0 21px 0;
    display: block;
    max-width: 320px;

}

.social-icons {

}

.AllRights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 166px 30px 166px;
    position: relative;

}

.AllRights::before {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #5D6544;
        width: 1110px;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
}

.AllRightsLogo {

}

.AllRights-txt {
    display: block;
    padding: 0 0 10px 0;
    font-family: Poppins;
    font-weight: 200;
    font-style: ExtraLight;
    font-size: 16px;
    line-height: 26px;
    color: #B6C197;

}



