@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 700;
    font-style: Bold;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-ExtraLight.ttf);
    font-style: ExtraLight;
    font-weight: 200;
}

body {
    margin: 0;
  }

header {
    background-image: url(../img/MainImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-left: 166px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 121px;
    padding-right: 166px;
}

.header-info {
    display: flex;
    max-width: 616px;
    flex-direction: column;
    font-family: Poppins;
    color: #FFFFFF;
    padding-bottom: 210px;
}

.header-info-UpTxt {
    display: block;
    font-size: 14px;
    line-height: 21px;
    font-weight: 200;
    font-style: ExtraLight;
}

.header-info-title {
    margin: 0;
    font-size: 60px;
    line-height: 74px;
    padding-bottom: 24px;
    padding-top: 22px;

}

.header-info-DownTxt {
    display: block;
    font-size: 16px;
    line-height: 26px;
    font-weight: 200;
    font-style: ExtraLight;
    padding-bottom: 45px;
}

.header-info-link {
    text-decoration: none;
}

.header-info-LinkTxt {
    display: block;
    color: #FFD723;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.header-logos {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 166px;
    position: absolute;
    top: 708px;
    left: 166px;
    right: 0;
    -webkit-box-shadow: 0px 34px 27px -4px rgba(34, 60, 80, 0.19); 
    -moz-box-shadow: 0px 34px 27px -4px rgba(34, 60, 80, 0.19); 
    box-shadow: 0px 34px 27px -4px rgba(34, 60, 80, 0.19);
    
}

.img-logo {
    display: block;
    padding: 60px 0px 54px 65px;
    width: 156px;
    height: 113px;
}

.text-item-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.text-item-info {
    font-family: Poppins;
    max-width: 475px;
    padding: 244px 0 100px 166px;

}

.text-item-info-Uptxt {
    display: block;
    font-size: 14px;
    line-height: 21px;
    font-weight: 200;
    font-style: ExtraLight;
    color: #4D533CE5;
}

.text-item-info-title {
    margin: 0;
    font-size: 38px;
    line-height: 46px;
    color: #4D533C;
    padding: 29px 0 35px 0;

}

.text-item-info-Downtxt {
    display: block;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: ExtraLight;
    color: #21384299;
    padding-bottom: 42px;
}

.text-item-info-link {

}

.text-item-info-Linktxt {

}

.text-item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 475px;
    padding: 244px 0 60px 40px;
    margin: 0 166px 0 0;
    font-family: Poppins;
    -webkit-box-shadow: -16px 19px 100px 41px rgba(34, 60, 80, 0.08); 
    -moz-box-shadow: -16px 19px 100px 41px rgba(34, 60, 80, 0.08); 
    box-shadow: -16px 19px 100px 41px rgba(34, 60, 80, 0.08);

}

.text-item-card-title {
    max-width: 426px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    font-style: italic;
}

.text-item-card-person {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-item-card-person-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 20px 25px 43px rgb(0 0 0 / 18%);
}

.text-item-card-person-name {
    padding-left: 30px;

}

.text-item-card-person-FIO {
    font-style: Bold;
    font-size: 22px;
    line-height: 33px;
    margin: 0;
    padding-bottom: 6px;

}

.text-item-card-person-CEO {
    font-size: 16px;
    line-height: 24px;

}